Lab-2/Assigment-1/prime
Lab-2/Assignment-2/print-primes
Lab-2/Assignment-1/prime
Lab-2/Assignment-3/sieves-heap
Lab-2/Assignment-3/sieves
Lab-2/Assignment-4/pointers
Lab-2/Assignment-3/heap
Lab-3/Assignment-2/time4timer/mipslabwork.c.o
Lab-3/Assignment-2/time4timer/outfile.elf
